- page_title _('Contribution Analytics')

%h3= _('Contribution Analytics')

= gl_tabs_nav(class: 'gl-mb-3', 'data-testid': 'contribution-analytics-date-nav') do
  - date_range_nav.each do |range|
    = gl_tab_link_to group_contribution_analytics_path(start_date: range[:date]), item_active: @start_date == range[:date] do
      = range[:label]
%p= s_('ContributionAnalytics|Contribution analytics for issues, merge requests and push events since %{start_date}') % { start_date: @start_date }

#js-contribution-analytics{
  data: {
    full_path: @group.full_path,
    start_date: @start_date.to_date.iso8601,
    end_date: Date.today.iso8601,

    **@data_collector.legacy_page_data
  }
}
